@charset "UTF-8";

/*

CSS PARA TELAS DO HOTSITE

*/

@font-face {
    font-family: 'helsinkiregular';
    src: url('../fonts/helsinki-webfont.eot');
    src: url('../fonts/helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helsinki-webfont.woff') format('woff'),
         url('../fonts/helsinki-webfont.ttf') format('truetype'),
         url('../fonts/helsinki-webfont.svg#helsinkiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.overflow {
    overflow-y: scroll !important;
    height: 200px;
}

.no-padding {
    padding: 0px;
}

.marginT40px {
    margin-top: 40px;
}

.marginT170px {
    margin-top: 170px;
}

.marginB20px {
    margin-bottom: 20px;
}

.marginB40px {
    margin-bottom: 40px;
}

.position-relative {
    position: relative;
}

#menu-mobile {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100px;
    background-color: #FBA2C3;
}

#menu-mobile ul {
    width: 100%;
    height: 100px;
    list-style-type: none;
}

#menu-mobile ul li {
    width: 100%;
    height: 50px;
    text-align: center;
    list-style-type: none;
}

#menu-mobile ul li:first-child {
    border-bottom: solid 2px #CA678F;
}

#menu-mobile ul li a {
    display: block;
    font-family: 'helsinkiregular';
    font-size: 24px;
    line-height: 50px;
    color: #511808;
    text-decoration: none;
}

#header {
    width: 100%;
    height: 870px;
    background: url(../img/bg-header.jpg) repeat top;
}

#header .bt-rosa a {
    display: block;
    text-decoration: none;
    font-family: 'helsinkiregular';
    font-size: 20px;
    color: #51180a;
}

#header .bt-rosa {
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background-color: #fba2c3;
    border-bottom: solid 6px #ca678f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#instrucoes {
    width: 100%;
    height: auto;
    background-color: #f3f7f8;
}

    #instrucoes h3 {
        font-family: 'helsinkiregular';
        font-size: 30px;
        color: #51180a;
        padding: 30px 10px;
    }

    #instrucoes h4 {
        font-family: 'helsinkiregular';
        font-size: 22px;
        color: #51180a;
        padding: 30px 0px;
    }

    #instrucoes p {
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        color: #7f8c8d;
        line-height: 28px;
        margin-bottom: 40px;
    }

#faixa {
    width: 100%;
    background-color: #d54178;
}

    #faixa h1 {
        font-family: 'helsinkiregular';
        width: 100%;
        color: #fff;
        font-size: 35px;
        text-align: center;
        padding: 30px 0px;
    }

#regulamento {
    width: 100%;
    background-color: #ffceba;
}

    strong {
        color: #51180a;
    }

    p a {
        text-decoration: underline;
        color: #0545c8;
    }

    p a:hover {
        text-decoration: underline;
        color: #D54178;
    }

    .tabular {
        padding-left: 40px;
    }

    #regulamento h3 {
        font-family: 'helsinkiregular';
        font-size: 30px;
        color: #51180a;
        padding: 30px 10px;
    }

    #regulamento h4, .regulamento-mobile h4 {
        font-family: 'helsinkiregular';
        font-size: 22px;
        color: #51180a;
    }

    #regulamento p, .regulamento-mobile p {
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        color: #666666;
        line-height: 28px;
        margin: 20px 0 20px 0;
    }

#rodape {
    width: 100%;
    height: auto;
    display: table;
    background-color: #51180a;
    padding-bottom: 40px;
}

    #rodape img.logomarca {
        width: 172px;
        height: 69px;
        margin: 40px 0px;
    }

    #rodape p {
        font-family: Helvetica, sans-serif;
        font-size: 14px;
        color: #fff;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .round {
        width: 81px;
        height: 81px;
        position: relative;
        left: 50%;
        margin-left: -40px;
         -webkit-border-radius: 45px;
         -moz-border-radius: 45px;
         border-radius: 45px;
         background-color: #d54178;
    }

    @media (max-width: 767px) {
        .margin-mobile {
             margin: 40px 0px;
        }
        .margin-mobile:first-child {
             margin: 0px;
        }
    }

    .round a {
        width: 81px;
        height: 81px;
        display: block;
        text-decoration: none;
    }

    .round img {
        width: 39px;
        height: 38px;
        border: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -19px;
    }

form {
    padding: 0 15px;
}

/*

CSS PARA TELAS APLICATIVO

*/
#mobile {
    background-color: #ebeeee;
    padding-bottom: 70px;
}

#inicial-mobile {
    background-image: url(../img/bg-header-mobile.jpg);
    background-repeat: repeat-x;
    background-position: center top;
    width: 100%;
}

#cadastro-mobile form label  {
    color: #591c0d;
    font-size: 18px;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
}

#cadastro-mobile form a  {
    color: #591c0d;
    font-size: 14px;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
}

#header-cadastro,
#header-pergunta,
#header-acerto,
#header-erro {
    background-color: #e59581;
    margin-bottom: 40px;
}

    #header-cadastro h1,
    #header-pergunta h1,
    #header-acerto h1,
    #header-erro h1 {
        font-family: 'helsinkiregular';
        font-size: 24px;
        color: #fff;
        height: 53px;
        line-height: 53px;
    }

#header .bt-rosa a {
    display: block;
    text-decoration: none;
    font-family: 'helsinkiregular';
    font-size: 20px;
    color: #51180a;
}

#pergunta-mobile p {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    color: #7f8c8d;
    padding: 0px 20px;
    text-align: center;
}

#acerto-mobile p,
#erro-personalizado-mobile p,
#erro-mobile p {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    color: #7f8c8d;
    padding: 20px 20px;
    text-align: center;
}

.btn-default {
    width: 100%;
    line-height: 40px;
    text-align: center;
    background-color: #fba2c3;
    border-bottom: solid 6px #ca678f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #51180a;
    font-family: 'helsinkiregular';
    font-size: 20px;
}

.btn-small {
    width: 100%;
    line-height: 18px;
    text-align: center;
    background-color: #fba2c3;
    border-bottom: solid 6px #ca678f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #51180a;
    font-family: 'helsinkiregular';
    font-size: 20px;
}

.btn-small:hover {
    width: 100%;
    line-height: 18px;
    text-align: center;
    background-color: #fba2c3;
    border-bottom: solid 6px #ca678f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #51180a;
    font-family: 'helsinkiregular';
    font-size: 20px;
}

.btn-default:hover {
    width: 100%;
    line-height: 40px;
    text-align: center;
    background-color: #fba2c3;
    border-bottom: solid 6px #ca678f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #51180a;
    font-family: 'helsinkiregular';
    font-size: 20px;
}

.hidde {
    display: none;
}

#load {
    margin-left: 10px;
}

.bg-danger {
    padding:20px;
    margin-bottom:20px;
}

/*

CSS PARA TELAS CONTROLE

*/

#controle {
    width: 100%;
    height: 555px;
    background: url(../img/bg-controle.jpg) repeat top;
}

    #header-controle h3 {
        color: #51180A;
        font-family: 'helsinkiregular';
        font-size: 22px;
        padding: 0px 20px;
    }

    .bg-body {
        background-color: #f3f7fa;
    }

.cpf-lista {
    border: none;
    background-color: transparent;
}